<div class="title">
<h1>Burgers!</h1>
<img id="pic" src="https://media.giphy.com/media/3otPoz2V9lPlSH9pde/giphy.gif" alt="eatDaBurger">
</div>

<div class="toEat"
  <ul>
    <h2 id="letsEat">Burgers to Eat!</h2>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>
</div>



<!-- burgers/burger-block devoured=false -->
<div class="devouredBurgers">
  <h2 id="eatenBurgers">Devoured Burgers</h2>
    <ul>
      {{#each burgers}}
        {{#if devoured}}
          <p>{{id}} {{burger_name}}</p>
        {{/if}}
      {{/each}}
    </ul>
</div>

<div class="addBurger">
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burgers:</label>
    <input type="text" id="bu" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>
</div>
